html,
body {
  height: 100%;
}

body {
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0;
}
#output {
  position: absolute;
  right: 50px;
  bottom: 50px;
  z-index: 100;

  img {
    width: 20vw;
  }
}

.CodeMirror {
  height: 100%;
  border: 0;
  width: 100%;
  line-height: 1.5;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: Consolas, Monaco, monospace;
  opacity: 1;
  transition: opacity 0.3s;
}

.CodeMirror .CodeMirror-gutters {
  text-align: right;
  width: 10vw;
}

.CodeMirror .CodeMirror-linenumber {
  color: white;
}

.error {
  background: rgba(220, 50, 47, 0.3) !important;
  z-index: 4;
}

.error-line {
  background: #d32f2f !important;
}
